<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- place the values here -->
      <h1>{{greet('Morning')}}</h1>
      <h4>{{ name }}</h4>
      <h4>{{ job }}</h4>
      <!-- binding href attributes in Vue -->
      <h1>Vue Data Binding</h1>
      <a v-bind:href="window">Click here</a>

      <!-- binding html in vue -->
      <h1>Binding HTML</h1>
      <p v-html="windowTag"></p>

      <!-- binding values to a input -->
      <input type="text" v-bind:value="name" />

      <!-- events in vue -->
      <h1>Events</h1>
      <button v-on:click="age++">Add</button>
      <button v-on:click="age--">Minise</button>
      <button v-on:click="incrementAge(10)">Age Increment to 10</button>
      <button v-on:click="decrementAge(10)">Age Decrement to 10</button>
      <p>Age: {{age}}</p>

      <!-- two way data binding -->
      <h1>Two way data binding</h1>
      <input type="text" v-model="name" placeholder="enter some value">
      <p>{{name}}</p>
      <input type="text" v-model="age">
      <p>{{age}}</p>

      <!-- computed properties -->
      <h1>Computed Properties</h1>
      <button v-on:click="a++">Add to A</button>
      <button v-on:click="b++">Add to B</button>
      <p>A - {{ a }}</p>
      <p>B - {{ b }}</p>

      <p>Age +  {{ a }} => {{ addToA }}</p>
      <p>Age +  {{ b }} => {{ addToB }}</p>


      <!-- dynamic classes -->
      <h1>Dynamic Classes</h1>
      <p v-bind:class="{available:available}">Heading</p>


    </div>

    <script src="./app.js"></script>
  </body>
</html>
